<main class="main">
    <div class="blog">
        <div class="container">
            <div class="blog__title title">
                Блог
            </div>
            <div class="blog__wrapper">
                <div class="blog__box">
                    <div class="blog__inner">
                        <picture class="blog__images">
                            <source type="image/avif" srcset="./images/blog-image.avif"/>
                            <source type="image/webp" srcset="./images/blog-image.webp"/>
                            <img class="blog-image" src="./images/blog-image.png">
                        </picture>
                        <div class="blog__info">
                            <div class="blog__info-date">13.02.2022</div>
                            <div class="blog__info-title">
                                Новый формат сеансов
                            </div>
                            <div class="blog__info-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget massa vitae tempus at pretium lacus viverra. Vitae libero vivamus quis enim quam vitae dictumst nulla duis. Sed nisl nibh et morbi tristique suspendisse morbi. Consequat facilisi tortor consectetur magnis odio. Risus, aenean tortor cras consectetur lacus, ut erat ac et. Fermentum aliquam ac egestas eget risus a. Maecenas sed pellentesque bibendum vitae at praesent sed. Amet pretium arcu gravida arcu ut dui sem quis id. Tristique in leo donec proin odio eget. Neque ut in egestas lacus sit nunc, nec. Proin mattis augue sit leo sagittis nam id accumsan. Pulvinar nunc fermentum vulputate ultrices pulvinar sed ultrices quis.
                            </div>
                            <button class="blog__info-button">
                                Читать статью
                            </button>
                        </div>
                    </div>
                </div>
                <div class="blog__box">
                    <div class="blog__inner">
                        <picture class="blog__images">
                            <source type="image/avif" srcset="./images/blog-image.avif"/>
                            <source type="image/webp" srcset="./images/blog-image.webp"/>
                            <img class="blog-image" src="./images/blog-image.png">
                        </picture>
                        <div class="blog__info">
                            <div class="blog__info-date">13.02.2022</div>
                            <div class="blog__info-title">
                                Новый формат сеансов
                            </div>
                            <div class="blog__info-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget massa vitae tempus at pretium lacus viverra. Vitae libero vivamus quis enim quam vitae dictumst nulla duis. Sed nisl nibh et morbi tristique suspendisse morbi. Consequat facilisi tortor consectetur magnis odio. Risus, aenean tortor cras consectetur lacus, ut erat ac et. Fermentum aliquam ac egestas eget risus a. Maecenas sed pellentesque bibendum vitae at praesent sed. Amet pretium arcu gravida arcu ut dui sem quis id. Tristique in leo donec proin odio eget. Neque ut in egestas lacus sit nunc, nec. Proin mattis augue sit leo sagittis nam id accumsan. Pulvinar nunc fermentum vulputate ultrices pulvinar sed ultrices quis.
                            </div>
                            <button class="blog__info-button">
                                Читать статью
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>