<main class="main">
    <section class="news">
        <div class="container">
            <h1 class="news__title title">
                Новости
            </h1>
            <div class="news__content">
                <a href="/new.html" class="news__image-link">
                    <picture class="news__image">
                    <source type="image/avif" srcset="./images/news-image.avif"/>
                    <source type="image/webp" srcset="./images/news-image.webp"/>
                    <img class="news-image" src="./images/news-image.png">
                    <div class="news__image-date">13.02.2022</div>
                    <div class="news__image-description">Новый формат сеансов</div>
                </picture></a>
                <a href="./new.html" class="news__image-link">
                    <picture class="news__image">
                    <source type="image/avif" srcset="./images/news-image.avif"/>
                    <source type="image/webp" srcset="./images/news-image.webp"/>
                    <img class="news-image" src="./images/news-image.png">
                    <div class="news__image-date">13.02.2022</div>
                    <div class="news__image-description">Новый формат сеансов</div>
                </picture></a>
                <a href="./new.html" class="news__image-link">
                    <picture class="news__image">
                    <source type="image/avif" srcset="./images/news-image.avif"/>
                    <source type="image/webp" srcset="./images/news-image.webp"/>
                    <img class="news-image" src="./images/news-image.png">
                    <div class="news__image-date">13.02.2022</div>
                    <div class="news__image-description">Новый формат сеансов</div>
                </picture></a>
                <a href="./new.html" class="news__image-link">
                    <picture class="news__image">
                    <source type="image/avif" srcset="./images/news-image.avif"/>
                    <source type="image/webp" srcset="./images/news-image.webp"/>
                    <img class="news-image" src="./images/news-image.png">
                        <div class="news__image-date">13.02.2022</div>
                        <div class="news__image-description">Новый формат сеансов</div>
                </picture></a>
                <a href="./new.html" class="news__image-link">
                    <picture class="news__image">
                    <source type="image/avif" srcset="./images/news-image.avif"/>
                    <source type="image/webp" srcset="./images/news-image.webp"/>
                    <img class="news-image" src="./images/news-image.png">
                    <div class="news__image-date">13.02.2022</div>
                    <div class="news__image-description">Новый формат сеансов</div>
                </picture></a>
                <a href="./new.html" class="news__image-link">
                    <picture class="news__image">
                    <source type="image/avif" srcset="./images/news-image.avif"/>
                    <source type="image/webp" srcset="./images/news-image.webp"/>
                    <img class="news-image" src="./images/news-image.png">
                    <div class="news__image-date">13.02.2022</div>
                    <div class="news__image-description">Новый формат сеансов</div>
                </picture></a>
            </div>
        </div>
    </section>
</main>